/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

h1{
  font-size: 3rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 750px;
}

.background {
  background-color: #23424a;
  color: #ffffff;
  padding: 100px 0;
}

.content {
  width: 75%;
}

.content p {
  font-weight: 400;
  color: #ffffffd9;
}

.content button {
  font-weight: 700;
  color: #23424A;
  background-color: #38cfd9;
  border: none;
  padding: 1em 2em;
  border-radius: 5em;
}

.content button:hover, .content button:focus {
  opacity: .75;
}
