* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;

  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr;
  height: 100vh;

  margin: 0 auto;
}

.chat-list {
  background-color: f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-width: 0;
}

.chat-list-item {
  block-size: 4em;
  padding: 0.5em 1em;
}

.chat-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.avatar {
  border-radius: 50%;
  background-color: lightblue;
  block-size: 2.5em;
  inline-size: 2.5em;
}

.chat-window {
  min-width: 0;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-left: 0.5px solid lightgrey;
}

.chat-window-header {
  height: 4em;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;

  background-color: white;
  padding: 0.5em;
  border-radius: 1.5em;
  border: 0.5px solid lightgrey;
  transition: box-shadow 0.25s;
}

.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search:focus,
.search:hover {
  background-color: rgb(235, 235, 235);
}

.search-input {
  flex: 1;
  margin-inline-start: 0.5em;
  background: transparent;
  border: none;
  outline: none;
}

.search-input::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.25);
}

.login-btn button {
  font-size: 0.8rem;
  border: 0.5px solid lightgrey;
  padding: 0.5em 0.5em;
  border-radius: 1em;
  background-color: #fff;
  font-weight: bold;
  color: #69b8c3;
}

.login-btn button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.chat-item {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
  justify-content: space-between;
  border-bottom: 0.5px solid lightgrey;
}

.chat-item:hover {
    background-color: aquamarine;
}

.chat-info {
  flex: 1;
  min-width: 0;
  font-size: 0.75rem;
}

.name,
.message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-end: 0.5em;
}
