*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h1, h2 {
  font-family: 'Playfair Display';
}

h2 {
    font-size: 2.25rem;
    color: #F3EED9;
}

.container {
  max-width: 1128px;
  padding: 0 2rem;
  margin: 0 auto;
}

.hero--header {
  background-color: #f3eed9;
  min-height: 660px;
  display: flex;
  align-items: center;
  text-align: center;
}

.main-header {
  margin-block-end: 1rem;
}

.main-header.h3 {
  font-size: 1.125rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.main-header.h1 {
  font-size: 3.75rem;
  color: #824936;
}

section {
    margin-block: 3rem 0;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.row > * {
    width: 50%;
}


.quality--header {
    color: #824936;
    text-align: center;
}

.hero-black {
    background-color: #222C2A;
}

.hero {
    padding-block: 2em;
}

.hero-brown {
    background-color: #824936;
}

.section-text {
    color: #F3EED9;
}





